<!DOCTYPE html>
<head>
    <title>Duet sgx</title>
</head>
<body>
    <span>Epsilon</span>
    <span id="epsilon"></span>
    <br>
    <span>Key</span>
    <span id="key"></span>
    <br>
    <textarea id="query"></textarea>
    <button id="submit-query">Submit query</button>
    <br>
    <span>Result: </span>
    <span id="query-output"></span>
    <br>
    <textarea id="insert"></textarea>
    <button id="submit-insert">Submit insert</button>
    <br>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/node-forge@0.7.0/dist/forge.min.js">
    </script>
    <script src="/static/webapp.js">
    </script>
</body>